.editableInput{
  .form-control{
    @extend .inlineBlockMiddle;
    width: calc(100% - 30px);
    margin-right: 5px;
  }
}

.secTitle{
  font-size: 20px;
  font-weight: $fwRegular;
  position: relative;
  text-transform: capitalize;
  margin-top: 0;
  &:after{
    content: "";
    border-bottom: 2px solid $primaryColor;
    width: 100%;
    @include centered-element(50%,0,0,-50%);
  }
  span{
    background: $white;
    padding: 5px 20px;
    position: relative;
    z-index: 5;
    margin-left: 15px;
    display: inline-block;
  }
}

