.btn {
  border-radius: 2px;
  text-transform: capitalize;
  border: 0;
  text-shadow: none;
  min-width: 100px;
  @include transition($transitionValue);
  &.btn-default {
    background: $alto;
    color: $doveGray;
    &:hover, &:focus {
      background: $alto - 10;
    }
  }
  &.btn-primary {
    background: $primaryColor;
    color: $white;
    &:hover, &:focus {
      background: $primaryColor - 10;
    }
  }
  //&.btn-info {
  //  background: $fountainBlue + 15;
  //  color: $white;
  //}
}

.panel {
  border-color: $primaryColor;
  .panel-heading {
    background: $primaryColor;
  }
  .panel-body {
    padding: 15px 0;
  }
}

.tabs {
  .tab-content {
    padding: 15px;
  }
  .nav-tabs {
    border-color: $primaryColor;
    white-space: nowrap;
    overflow: hidden;
    overflow-x: auto;
    li {
      opacity: 0.75;
      float: none;
      @extend .inlineBlockTop;
      a {
        border-radius: 0;
        i {
          font-size: 22px;
          @extend .inlineBlockMiddle;
        }
        span {
          @extend .inlineBlockMiddle;
        }
      }
      &.active {
        opacity: 1;
        a {
          background: $primaryColor;
          border: 1px solid $primaryColor;
          color: $white;
        }
      }
      &:hover {
        opacity: 1;
        a {
          background: $primaryColor + 32;
          color: $white;
          border: 1px solid $primaryColor + 32;
        }
        &.active {
          a {
            background: $primaryColor;
            border: 1px solid $primaryColor;
            color: $white;
          }
        }
      }
    }
  }
}

.panelSection {
  border: 1px solid $silver;
  border-radius: 4px;
  position: relative;
  padding: 25px;
  margin-top: 25px;
  + .panelSection{
    margin-top: 30px;
  }
  h2 {
    font-size: 14px;
    font-weight: $fwExBold;
    text-transform: uppercase;
    background: $white;
    padding: 5px 10px;
    position: absolute;
    top: -12px;
    left: 15px;
    margin: 0;
    color: $mineShaft;
  }
  .vhCenter.centeredInput{
    width: calc(100% - 50px);
  }
  @include Mq(XS){
    .vhCenter.centeredInput{
      width: 100%;
    }
  }
}

.tabSectionDetailWrap {
  .form-group {
    h4, > input, .radioCheckWrap {
      @extend .inlineBlockMiddle;
    }
    h4 {
      font-size: 16px;
      margin: 0;
      min-width: 150px;
      .modal &{
        margin-bottom: 10px;
      }
    }
    select{
      display: none;
    }
    .form-control, .select2-container{
      min-width: 200px;
      width: auto;
      .modal &{
        min-width: 100%;
      }
    }
  }
}

.ppsiWrap{
  .select2-container{
    min-width: 100%;
  }
  label{
    font-weight: $fwRegular;
    display: block;
  }
}

.cusColumn{
  h2{
    font-size: 16px;
    text-transform: capitalize;
    margin: 0;
    text-align: center;
    color: $primaryColor;
    border-top: 3px solid;
    padding: 10px 0;
    border-bottom: 3px solid;
  }
}

.treeViewBtnControls{
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  font-size: 14px;
  background: $white - 17;
  a {
    text-decoration: none;
    span, i{
      @extend .inlineBlockMiddle;
      padding: 0 2px;
    }
  }
}

.treeviewWrapper{
  @extend .generTopSpace;
  max-height: 300px;
  overflow: auto;
  padding: 0 15px;
  .mCustomScrollBox{
    border-top: 1px solid $alto;
    border-bottom: 1px solid $alto;
  }
  ul{
    margin-bottom: 0;
    li{
      font-size: 14px;
      &:first-child{
        border-top: 0;
      }
      &:last-child{
        border-bottom: 0;
      }
      &.node-selected{
        background: $primaryColor !important;
      }
    }
  }
}

.panelIcons{
  &:hover{
    color: $primaryColor
  }
  a{
    font-size: 14px;
    font-weight: $fwBold;
    + a{
      margin-left: 7px;
    }
  }
}

.stripedGrid{
  padding: 0;
  margin: 0;
  max-height: 250px; 
  li{
    list-style-type: none;
    a{
      text-decoration: none;
      display: block;
      padding: 5px;
      font-size: 14px;
    }
    &:nth-child(even){
      background: $white - 10;
    }
  }
}

.input-group.date{
  min-width: 150px;
}

.imgButtonWrapper{
  font-size: 0;
}

.imageWithLabel{
  font-size: 0;
  .enlargeImg{
    pointer-events: none;
  }
  img, label{
    @extend .inlineBlockMiddle;
  }
  img{
    max-width: 150px;
  }
  label{
    width: calc(100% - 150px);
    font-size: 18px;
    font-weight: $fwRegular;
    text-indent: 15px;
  }
  @include Mq(minTab){
    display: inline-block;
    vertical-align: middle;
    width: 70%;
    padding: 0 15px;
  }
}

.stackedButton{
  margin-top: 15px;
  @include Mq(minTab){
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    padding: 0 15px;
    margin-top: 0;
  }
  .btn{
    width: 100%;
  }
}

.keyboardPanel{
  ul{
    padding: 0;
    margin: 0;
    text-align: center;
    li{
      list-style-type: none;
      height: 70px;
      font-size: 12px;
      border: 1px solid;
      width: 100%;
      max-width: 100px;
      border-radius: 4px;
      position: relative;
      text-align: center;
      cursor: pointer;
      text-transform: capitalize;
      margin-bottom: 5px;
      @extend .inlineBlockTop;
      @include transition($transitionValue);
      a{
        color: $mineShaft;
        display: block;
        width: calc(100% -  10px);
        @include centered-element(50%,50%,-50%,-50%);
        &:hover, &:focus{
          text-decoration: none;
        }
        i{
          font-size: 25px;
        }
      }
      &.newKey{
        background: $brand-primary + 25;
        border-color: $brand-primary + 25;
        a{
          color: $white;
        }
        &:hover{
          background: $brand-primary + 15;
        }
      }
      &.defaultKey{
        background: $alto;
        border-color: $alto;
        &:hover{
          background: $alto - 10;
        }
      }
      &.greenKey{
        background: $brand-success;
        border-color: $brand-success;
        a{
          color: $white;
        }
        &:hover{
          background: $brand-success - 10;
        }
      }
      &.orangeKey{
        background: $brand-warning + 25;
        border-color: $brand-warning + 25;
        &:hover{
          background: $brand-warning + 15;
        }
      }
      &.yellowKey{
        background: $brand-warning + 75;
        border-color: $brand-warning + 75;
        &:hover{
          background: $brand-warning + 55;
        }
      }
    }
  }
}

.smallStackedInput{
  max-width: 75px;
  .form-control{
    margin-bottom: 10px;
  }
}
