@{
    ViewBag.Title = "Account In Active";
}
@{
    Layout = "~/Views/Shared/_AdminLteLayout.cshtml";
}


<div class="margintop100">

    <p>
        Your Account is not active. Please contact your administartor.
    </p>

</div>